body {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    position: sticky;
    background-color: aliceblue;
    height: 70px;
    display: flex;
    font-size: 20px;
    color: #2f2f2f;
}

nav ul li {
    margin: 10px;
}

nav p {
    vertical-align: center;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

nav img {
    justify-content: right;
    margin: 10px;
    border-radius: 50%;
    float: right;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    vertical-align: center;
}

nav ul li a:hover {
    background-color: darkslategrey;
    color: white;
    border-radius: 30px;
}

.active {
    background-color: darkcyan;
    color: white;
    border-radius: 30px;
}

nav ul li a {
    display: block;
    color: darkcyan;
    padding: 11px 16px;
    text-decoration: none;
}