main {
    display: flex;
}

article {
    margin: 30px;
    width: 70%;
}

aside {
    margin: 30px;
    width: 30%;
    justify-content: center;
    text-align: center;
    background-color: darkcyan;
}

aside img {
    margin-top: 30px;
    border: 5px solid white;
    width: 70%;
}

div.header {
    display: flex;
    margin-bottom: 20px;
}

article section div h3 {
    font-size: 30px;
    margin: 5px 0 0 15px;
}

main article section p {
    font-size: 20px;
    margin: 0;
}

main article section {
    margin-bottom: 30px;
}

article section div span.material-symbols-outlined {
    width: 48px;
    height: 48px;
    font-size: 48px;
}

article section h4 {
    font-size: 20px;
    margin: 0 0 15px;
}

aside section {
    margin: 20px;
    color: white;
    font-size: 16px;
}

div.header img {
    width: 48px;
    height: 48px;
}

div.header a {
    text-decoration: none;
    color: darkcyan;
}